img.usericon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
ul.biglist li {
  height: 64px;
  position: relative;
  font-size: 32px;
}
ul.biglist li:before, ul.biglist li:marker, ul.biglist li p, ul.biglist li p a, ul.biglist li p a img, ul.biglist li p a span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 95%;
}
body {
  margin: 0px;
}
header {
  position: sticky;
  top: 0;
  background-color: lightgray;
}
h1, h2, h3, h4, h5, h6 {
  width: fit-content;
  height: fit-content;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: cornflowerblue;
}
ol, ul {
  margin: 0px;
}
.breadcrumb li {
  list-style-type: none;
  display: inline;
}
/* ライターページ */
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
th, td {
  border: 1px solid black;
  padding: 10px 15px;
}
th {
  white-space: nowrap;
}
/* ライターページここまで */
